html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.body {
  font-family: 'Roboto', 'TT Firs Neue' , sans-serif;
  min-width: 320px;
}

:root {
  --white: #fff;
  --black: #000;
  --orange: #FF6E30;
  --orange-hover: #FFB84D;
  --orange-active: #E1670E;
  --grey: #414141;
  --dark-grey: #202020;
  --grey-hover: #666;
  --light-grey: #CACACA;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('/fonts/TT Firs Neue Trial Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('/fonts/TT Firs Neue Trial Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('/fonts/TT Firs Neue Trial DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 50px;
}

.btn-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

:root {
  --black: #202020;
  --grey: #4A4A4A;
  --orange: #FF6E30;
  --white: #ffffff;
}

.header {
  font-family: 'TT Firs Neue';
  font-size: 16px;
  background-color: var(--black);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  height: 35px;
  width: 190px;
}

.header__logo:focus-visible {
  outline: 2px #BC572B solid;
  outline-offset: 5px;
}

.header__nav {
  display: flex;
  gap: 80px;
  font-size: 16px;
  color: var(--white);
}

.nav__link {
  transition: color 0.3s ease-in-out;
}

.nav__link:hover:not(:focus-visible) {
  color: #FF6E30;
}

.nav__link:focus-visible {
  background-color: #BC572B;
  color: #ffffff;
  padding: 4px 10px;
  outline: none;
}

.nav__link:active:not(:focus-visible) {
  color: #CE4307;
}

.hero__content {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  gap: 30px;
  margin-bottom: 68px;
}

.hero__item {
  background-color: var(--black);
  outline: 1px solid white;
}

.hero__large {
  position: relative;
  grid-row: 1 / 3;
  grid-column: 1 / 6;
  padding: 400px 60px 60px;
  min-width: 630px;
  background-image: url(/img/hero1.png);
}

.hero__large::before {
  content: "";
  position: absolute;
  margin-top: 15px;
  margin-right: 15px;
  min-height: 30px;
  min-width: 130px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.pseudo {
  position: absolute;
  right: 25px;
  top: 21px;
  color: #fff;
}

.hero__medium {
  grid-column: 7 / 13;
  margin-top: 40px;
  min-height: 300px;
  font-size: 24px;
  color: var(--dark-grey);
  background-image: url(/img/hero2.png);
  background-repeat: no-repeat;
}

.medium__text {
  margin-top: -40px;
  font-family: 'TT Firs Neue';
  font-size: 24px;

}

.hero__small {
  grid-row: 2 / 3;
  grid-column: 7 / 10;
  min-height: 257px;
  background-image: url(/img/hero3.png);
  background-repeat: no-repeat;
}

.hero__small2 {
  grid-row: 2 / 3;
  grid-column: 10 / 13;
  min-height: 257px;
  background-image: url(/img/hero4.png);
  background-repeat: no-repeat;
}

.large__btn {
  padding: 15px 22px;
  font-size: 16px;
  background-color: var(--orange);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
  transition: outline-width 150ms ease-in-out, outline-color 150ms ease-in-out;
}

.large__btn:focus-visible {
  background-color: #BC572B;
}

.large__btn:hover:not(:focus-visible) {
  background-color: #FF6E30;
  outline: #CE4307 solid 3px;
}

.large__btn:active:not(:focus-visible) {
  background-color: #CE4307;
}

.large__text {
  margin: 0;
  color: var(--white);
}

.large__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: 'TT Firs Neue';
  font-size: 36px;
  color: var(--white);
}

.about {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: var(--dark-grey);
}

.about__content {
  display: flex;
}

.about__pic {
  padding-top: 60px;
  margin-bottom: 22px;
  width: 630px;
}

.about__text {
  margin-right: 30px;
  min-width: 630px;
}

.about__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.about__details {
  display: flex;
  flex-direction: row;
}

.about__subscription {
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  font-weight: 400;
  color: var(--white);
}

.about__btn {
  padding: 15px 22px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  transition: background-color 0.3s ease-in-out;
  transition: outline-width 150ms ease-in-out, outline-color 150ms ease-in-out;
}

.about__btn:focus-visible {
  background-color: #BC572B;
}

.about__btn:hover:not(:focus-visible) {
  background-color: #FF6E30;
  outline: #CE4307 solid 3px;
}

.about__btn:active:not(:focus-visible) {
  background-color: #CE4307;
}

.about__form {
  width: 100%;
  height: 50px;
  padding-right : 30px;
}

.about__form::placeholder {
  padding-left: 23px;
}

.about__descr {
  margin: 0;
  line-height: 28px;
  color: var(--white);
}

.projects {
  padding-top: 65px;
}

.projects__content {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  gap: 30px;
}

.projects__date {
  position: relative;
  padding-left: 25px;
  color: #999999;
}

.projects__date::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/img/calendar_today.svg);
  background-size: 20px 20px;
}

.projects__date-large {
  position: relative;
  padding-left: 25px;
  color: #fff;
}

.projects__date-large::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/img/white_calendar_today.svg);
  background-size: 20px 20px;
}

.projects__small1 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  min-height: 184px;
}

.projects__small1::before {
  position: absolute;
  content: "";
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 86px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.pseudo__projects {
  position: absolute;
  right: 20px;
  top: 12px;
  color: #fff;
}

.pseudo__projects2 {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #fff;
}

.pseudo__projects3 {
  position: absolute;
  right: 13px;
  top: 12px;
  color: #fff;
}

.projects__small2 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 5;
  min-height: 184px;
}

.projects__small2::before {
  position: absolute;
  content: "";
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 86px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.projects__small3 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 5 / 7;
  min-height: 184px;
}

.projects__small3::before {
  position: absolute;
  content: "";
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 86px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.projects__large {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 7 / 13;
  padding: 46px 30px;
  min-height: 300px;
  background-image: url(/img/projects4.png);
  background-repeat: no-repeat;
}

.projects__large::before {
  content: "";
  position: absolute;
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 56px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.projects__text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  color: var(--white)
}

.projects__title {
  font-family: 'TT Firs Neue';
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 15px;
  max-width: 292px;
  font-size: 16px;
  color: var(--white)
}

.projects__btn {
  padding: 15px 22px;
  font-size: 16px;
  background-color: none;
  outline: 3px solid var(--orange);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.projects__btn:focus-visible {
  background-color: #BC572B;
  outline: #FF6E30 solid 3px;
}

.projects__btn:hover:not(:focus-visible) {
  background-color: #FF6E30;
}

.projects__btn:active:not(:focus-visible) {
  background-color: #CE4307;
}

.projects__large2 {
  position: relative;
  grid-row: 2 / 2;
  grid-column: 1 / 7;
  padding: 46px 30px;
  min-height: 300px;
  background-image: url(/img/projects5.png);
  background-repeat: no-repeat;
}

.projects__large2::before {
  content: "";
  position: absolute;
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 144px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.title__large2 {
  margin-top: 5px;
  margin-bottom: 6px;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  color: var(--white)
}

.text__large2 {
  margin-top: 0;
  max-width: 292px;
  font-size: 16px;
  line-height: 120%;
  color: var(--white)
}

.projects__medium1 {
  position: relative;
  grid-row: 2 / 2;
  grid-column: 7 / 10;
}

.projects__medium1::before {
  content: "";
  position: absolute;
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 85px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.projects__medium2 {
  position: relative;
  grid-row: 2 / 2;
  grid-column: 10 / 13;
}

.projects__medium2::before {
  content: "";
  position: absolute;
  margin-top: 7px;
  margin-right: 7px;
  min-height: 28px;
  min-width: 89px;
  background-color: #202020;
  top: 0;
  right: 0;
}

.contacts__title {
  font-family: 'TT Firs Neue';
}

.contacts__content {
  display: flex;
  gap: 30px;
}

.contacts__map {
  position: relative;
  display: inline-flex;
  width: 100%;
  min-height: 460px;
  background-image: url('/img/map.png');
}

.contacts__map::before {
  content: '';
  position: absolute;
  background-image: url('/img/Ellipse.svg');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 90px;
  right: 230px;
}

.contacts__grey {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background-image: url('/img/Rectangle_grey.png');
  background-size: cover;
  opacity: 0.85;
}

.contacts__wrap {
  max-width: 406px;
  height: 50px;
  border: none;
}

.contacts__text {
  z-index: 3;
  padding-top: 200px;
  padding-left: 60px;
  max-width: 300px;
}

.contacts__close {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 20px;
  pointer-events: stroke;
}

.contacts__form {
  background-color: #E9E9E9;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: none;
  transition: color 0.3s ease-in-out;
}

input[type="name"] {
  padding-left: 35px;
}

input[type="name"]::placeholder {
  padding-left: 0;
}

input[type="email"] {
  padding-left: 35px;
}

input[type="email"]::placeholder {
  padding-left: 0;
}

input[type="text"] {
  padding-left: 35px;
}

input[type="text"]::placeholder {
  padding-left: 0;
}

.contacts__form:hover:not(:focus-visible) {
  cursor: pointer;
}

.contacts__form:focus-visible {
  color: #202020;
  outline: 1px #FF6E30 solid;
}

.contacts__form::placeholder {
  transition: color 0.3s ease-in-out;
  padding-left: 23px;
}

.contacts__form:hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.contacts__form-comment {
  cursor: pointer;
  background-color: #E9E9E9;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  border: none;
  transition: color 0.3s ease-in-out;
}

.contacts__form-comment::placeholder {
  transition: color 0.3s ease-in-out;
  padding-left: 23px;
}

.contacts__form-comment:hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.contacts__form-comment:focus-visible {
  color: #202020;
  outline: 1px #FF6E30 solid;
}

.contacts__btn {
  padding: 15px 22px;
  font-size: 16px;
  background-color: var(--orange);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
  transition: outline-width 150ms ease-in-out, outline-color 150ms ease-in-out;
}

.contacts__btn:focus-visible {
  background-color: #BC572B;
}

.contacts__btn:hover:not(:focus-visible) {
  background-color: #FF6E30;
  outline: #CE4307 solid 3px;
}

.contacts__btn:active:not(:focus-visible) {
  background-color: #CE4307;
}

.contacts__subtitle {
  margin: 0;
  font-family: 'TT Firs Neue';
  font-weight: 400;
  font-size: 24px
}

.contacts__descr {
  font-size: 16px;
  color: #999999;
}

.contacts__details {
  margin-top: 0;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.contacts__address {
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  color: #CACACA;
}

.contacts__phone {
  display: flex;
  justify-items: baseline;
  font-family: 'TT Firs Neue';
  font-size: 16px;
  color: #FF6E30;
}

.contacts__phone svg {
  width: 22px;
  height: 22px;
}

.footer {
  padding-top: 25px;
  padding-bottom: 5px;
  background-color: #202020;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
}

.footer__logo {
  gap: 6px;
  max-width: 263px;
  align-items: flex-start;
}

.footer__logo-icon {
  width: 190px;
  height: 30px;
}

.copyright {
  font-family: 'TT Firs Neue';
  font-size: 14px;
  color: #E9E9E9;
}

.footer__middle {
  display: flex;
  max-width: 360px;
  font-size: 16px;
  color: #CACACA;
}

.footer__right {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #CACACA;
}

.footer__social {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  gap: 20px;
}

.vk__icon {
  color: #CACACA;
}

.vk__icon svg {
  width: 30px;
  height: 30px;
  transition: color 0.3s ease-in-out;
}

.vk__icon:hover:not(:focus-visible) svg {
  color: #FF6E30;
}

.vk__icon:focus-visible svg {
  color: #BC572B;
}

.vk__icon:active:not(:focus-visible) svg {
  color: #CE4307;
}

.ok__icon {
  color: #CACACA;
}

.ok__icon svg {
  width: 30px;
  height: 30px;
  transition: color 0.3s ease-in-out;
}

.ok__icon:hover:not(:focus-visible) svg {
  color: #FF6E30;
}

.ok__icon:focus-visible svg {
  color: #BC572B;
}

.ok__icon:active:not(:focus-visible) svg {
  color: #CE4307;
}
