
@media (max-width: 1582px) {

.advantages__content {
  flex-direction: column;
  gap: 35px;
}

.advantages__block {
  gap: 35px;
  width: 100%;
  min-height: 500px;
}

.advantages__block:not(:last-child) {
  margin-right: 0;
}

.right-item {
  margin: 0;
}

.bg-01 {
  background-size: 150px 150px;
  background-position: 70px 40px;
}

.bg-02 {
  background-size: 150px 150px;
  background-position: 70px 40px;
}

.footer__form {
  margin-left: 0;
}

.footer__right {
  margin-left: 50px;
}
}

@media (max-width: 1366px) {
  .container {
    margin: 0 50px 40px 50px;
    padding: 0;
  }

  .header__container {
    height: 100px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    margin-right: 0;
  }

  .nav {
    overflow: hidden;
    margin-right: 0;
  }

  .nav__list {
    gap: 60px;
  }

  .nav__link {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
  }

  .hero__content {
    height: 668px;
    padding-top: 160px;
    padding-left: 77px;
    margin-bottom: 0;
  }

  .hero__title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 13px;
  }

  .hero__descr {
    max-width: 660px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 58px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .advantages__content {
    flex-direction: column;
    gap: 32px;
    padding-top: 20px;
    margin-bottom: 77px;
  }

  .advantages__block {
    /* min-height: 622px; */
    margin: 0;
    padding: 0;
  }

  .advantages__block:not(:last-child) {
    margin-right: 0;
  }

  .bg-01 {
    background-position: 75px 63px;
    background-size: 193px;
  }

  .bg-02 {
    background-position: 75px 59px;
    background-size: 193px;
  }

  .item-left {
    /* min-height: 640px; */
    width: 100%;
  }

  .advantages__details {
    /* max-height: 180px; */
    padding-top: 55px;
    /* max-height: 83px; */
  }

  .advantages__descr {
    line-height: 201%;
  }

  .advantages__text {
    max-width: 450px;
  }

  .advantages__btn {
    width: 175px;
  }

  .advantages__block {
    gap: 30px;
  }

  .steps {
    margin-bottom: 80px;
  }

  .steps__content {
    margin-bottom: 0;
  }

  .steps__left-content {
    padding-right: 48px;
  }

  .steps__right-content {
    background-size: cover;
  }

  .right-item {
    min-height: 290px;
    padding-left: 315px;
  }

  .steps__title {
    margin-bottom: 36px;
  }

  .steps__subtitle {
    margin-bottom: 6px;
  }

  .steps__descr {
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }

  .steps__right-content {
    background-image: url(../img/Rectangle\ 18.png);
    background-position: 0 15px;
    border-radius: 32px;
  }

  .questions {
    margin-bottom: 82px;
  }

  .questions__title {
    margin-bottom: 30px;
  }

  .questions__list {
    flex-direction: column;
    gap: 28px;
  }

  a.footer__logo {
    margin-bottom: 0;
    margin-bottom: 5px;
  }

  .footer__message {
    padding-top: 21px;
  }

  .footer__orange-btn {
    width: 240px;
    height: 58px;
  }

  .footer__right {
    display: none;
  }

  .footer__list {
    line-height: 18px;
  }

  .footer__nav {
    min-width: 255px;
    margin-bottom: 90px;
  }

  .footer__form {
    margin-left: 0;
    min-width: 510px;
  }

  .footer__surname {
    height: 57px;
  }

  .footer__left {
    min-width: 310px;
    min-height: 494px;
    align-self: flex-start;
  }

  .footer__orange-btn {
    margin-right: 16px;
  }

  .footer__btn {
    flex-wrap: nowrap;
  }

  .footer__user-consent {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    margin: 0;
  }

}

@media (max-width: 892px) {

  .header__container {
    height: 69px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
    margin-right: auto;
  }

  .nav {
    margin-right: auto;
  }

  .nav__list {
    gap: 40px;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 700;
  }

  .hero__content {
    padding: 160px 40px;
    height: 662px;
    background-image: url(../img/hero_768.png);
    border-radius: 24px;
  }

  .hero__title {
    max-width: 600px;
    font-size: 50px;
    font-weight: 800;
  }

  .hero__descr {
    max-width: 588px;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 62px;
  }

  .about {
    margin-bottom: 55px;
  }

  .about__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
  }

  .advantages {
    margin-bottom: 90px;
  }

  .advantages__content {
    padding-top: 0;
    margin-bottom: 0;
  }

  .advantages__details {
    padding: 34px 40px;
  }

  .advantages__descr {
    max-width: 570px;
  }

  .advantages__subtitle {
    margin-bottom: 10px;
  }

  .right-item {
    padding: 35px 40px 0 170px;
    min-height: 135px;
    margin-bottom: 0;
  }

  .item-left {
    min-height: 650px;
    background-image: url(../img/advantages_768.png);
    border-radius: 20px;
  }

  .bg-01 {
    background-image: url(../img/Frame\ 16.svg);
    background-size: 114px 99px;
    background-position: 40px 65px;
  }

  .bg-02 {
    background-image: url(../img/ellipse_gear.svg);
    background-size: 114px 99px;
    background-position: 40px 69px;
  }

  .steps__title {
    margin-bottom: 20px;
  }

  .steps__content {
    flex-direction: column-reverse;
  }

  .steps__right-content {
    margin-bottom: 38px;
    border-radius: 24px;
    background-size: 100%;
    min-height: 298px;
    background-image: url(../img/steps_right_content\ 768.png);
  }

  .steps__left-content {
    padding: 0;
  }

  .steps__btn-orange {
    margin-right: 29px;
  }

  .steps__btn-clean {
    padding: 19px 37px;
  }

  .questions {
    margin-bottom: 80px;
  }

  .questions__list {
    gap: 32px;
  }

  .questions__item {
    padding: 35px 65px 30px 40px;
    min-height: 200px;
    width: 100%;
  }

  .questions__subtitle {
    margin-bottom: 7px;
  }

  .footer {
    min-height: 780px;
    padding-top: 55px;
    padding-bottom: 0;
  }

  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 0;
    margin-left: -17%;
  }

  .footer__nav {
    display: none;
  }

  .footer__form {
    margin-bottom: 50px;
    padding: 0;
  }

  .footer__form-box {
    min-width: 400px;
  }

  .footer__left {
    margin-left: 20%;
    gap: 2px;
    min-height: unset;
    min-width: 290px;
    }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__surname {
    height: 60px;
  }

  .footer__orange-btn {
    margin-right: 18px;
  }

  .footer__user-consent {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 15px;
  }

  .header {
    margin-bottom: 20px;
  }

  .general-title {
    font-size: 20px;
  }

  .header__container {
    max-height: 132px;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 16px;
  }

  .header__logo {
    order: -1;
  }

  .nav__list {
    gap: 24px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .nav__item {
    display: inline-block;
  }

  .hero {
    margin-bottom: 60px;
  }

  .hero__content {
    align-items: center;
    padding: 60px 20px;
    min-height: 308px;
    border-radius: 16px;
    max-height: 308px;
  }

  .hero__title {
    max-width: 447px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
  }

  .hero__descr {
    max-width: 347px;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 32px;
  }

  .header-btn {
    width: 162px;
    height: 41px;
    border-radius: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    align-self: center;
  }

  .about {
    margin-bottom: 14px;
  }

  .about__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 200%;
    width: 100%;
  }

  .item-left {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    display: block;
    width: 100%;
    background: #fff;
    min-height: unset;
  }

  .item-left::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 157 / 108;
    background-image: url(../img/advantages_768.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }

  .advantages {
    margin-bottom: 0px;
  }

  .advantages__content {
    margin-bottom: 0;
    gap: 30px;
    }

  .advantages__block {
    /* max-height: 650px; */
    gap: unset;
  }

  .advantages__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    /* min-height: auto; */
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  .advantages__descr {
    padding-top: 10px;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
  }

  .advantages__text {
    max-width: unset;
  }

  .advantages__btn {
    margin-bottom: 0;
    width: 162px;
    height: 40px;
    color: var(--orange);
    border-radius: 8px;
    border: 2px solid #F90;
    font-size: 12px;
    font-weight: 700;
  }

  .bg-01 {
    background-size: 64px 49px;
    background-position: 0 0;
  }

  .bg-02 {
    background-size: 64px 49px;
    background-position: 0 0;
  }

  .right-item {
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    min-height: 130px;
    border: none;
    border-radius: 0;
  }

  .advantages {
    margin-bottom: 18px;
  }

  .advantages__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  .advantages__text {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
  }

  .steps {
    margin-bottom: 60px;
  }

  .steps__right-content {
    background-image: url(../img/steps_320.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    min-height: 160px;
    margin-bottom: 15px;
  }

  .steps__left-content {
    width: 100%;
  }

  .steps__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
  }

  .steps__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .steps__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    margin-bottom: 50px;
  }

  .steps__btn {
    display: flex;
    flex-direction: row;
  }

  .steps__btn-orange {
    margin-right: 10px;
    width: 162px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  .steps__btn-clean {
    width: 118px;
    height: 39px;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  .questions {
    margin-bottom: 58px;
  }

  .questions__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  .questions__list {
    gap: 33px;
  }

  .questions__item {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 290px;
    min-height: 150px;
  }

  .questions__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .questions__descr {
    font-size: 14px;
    font-style: normal;
    line-height: 200%;
  }

  .footer {
    padding-top: 33px;
    min-height: 678px;
  }

  .footer__content {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin-bottom: 0;
    min-width: 290px;
  }

  .footer__form-box {
    min-width: 290px;
  }

  .footer__form {
    min-width: 290px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer__left {
    min-height: unset;
    min-width: 290px;
  }

  .footer__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    min-width: 290px;
  }

  .footer__surname {
    padding-left: 20px;
  }

  .footer__email {
    padding-left: 20px;
  }

  .footer__message {
    padding-left: 20px;
    margin-bottom: 24px;
  }

  .footer__btn {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px #414141 solid;
  }

  .footer__orange-btn {
    margin: 0;
    width: 162px;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  .footer__user-consent {
    justify-content: center;
    margin: 0;
    padding-left: 15px;
  }

  .footer__logo {
    align-self: center;
    width: 131px;
    height: 42px;
  }

  .footer__icons {
    gap: 16px;
    justify-content: center;
  }

  .footer__left {
    align-self: center;
    gap: 12px;
    margin-left: 0;
  }

  .footer__social-media {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 560px) {

    .header__container {
      min-height: 132px;
    }

    .nav {
      order: 1;
      margin: 0 auto;
      align-self: baseline;
    }

    .footer__logo {
      margin-bottom: 15px;
    }

    .search-icon {
      order: -1;
    }

    .advantages__block {
      min-height: 200px;
    }

    .bg-01 {
      background-image: url(../img/bg-01.svg);
    }

    .bg-02 {
      background-image: url(../img/bg-02.svg);
    }
  }

}


